.card {
  width: 100%;
  display: flex;
  flex-direction: column;

  .photo {
    img {
      margin-left: 0px;
      display: flex;

      width: 100%;
      height: 218px;
      flex-shrink: 0;
      border-radius: 16px 16px 0px 0px;
      object-fit: cover;
    }
  }
  .card-content {
    flex-grow: 1;

    //flex-shrink: 0;
    background: #edefee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .top-bar-content {
      gap: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .dish-name {
        font-family: "Markazi Text";
        font-size: 24px;
        line-height: 90%;
      }
      .price {
        margin-top: 24px;
        color: #ee9972;
        font-family: Karla;
        font-weight: 700;
      }
    }
  }
  .dish-description {
    color: #495e57;
    font-family: Karla;
    font-size: 16px;
    flex-grow: 1;
  }
  .bottom-bar-content {
    display: flex;
    flex-direction: row;
    button {
      margin-right: 12px;
      padding: 0px;
      border: none;
      color: #333;
      font-family: Karla;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    .icon {
    }
  }
}
